.logo{
    max-width: 133px;
    margin-left: 85px;
}
.animate__animated{
  display: inline-block;
  animation: backInDown; 
}
.logonavigation{
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: beige;
  position: fixed;
  z-index: 10;
}
.burger{
    display: none;
    color: #000;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-ul{
    display: flex;
}
.naviganionnn li{
    display: flex;
    margin-left: 50px;
    font-family: 'BPG Nino Mtavruli Bold';
}
.naviganionnn li a{
    color: #303134;
    margin-top: 20px;
}
.naviganionnn li a:hover{
    color: rgb(43, 109, 43);
}
.cover-plane{
    max-width: 100%;
    width: 100%;
    margin-top: 80px;
}
.main{
    max-width: 1100px;
    max-width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.why{
    max-width: 500px;
    max-width: 100%;
    margin-left: 35px;
}
.why h2{
    font-family: 'BPG Nino Mtavruli Bold';
}
.why p{
    font-family: 'ALK Sanet';
    color: #6b6fa1;
    font-size: 15px;
}
.operator{
    max-width: 100%;
    width: 100%;
    /* margin-left: 70px; */
}
.main2{
    max-width: 1500px;
    width: 100%;
    margin-top: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fly{
    max-width: 400px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 30px;
}
.fly img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.other img{
    max-width: 400px;
    width: 100%;
}
.fly span{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    
}
.f{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 30px;
    text-shadow: 0 0 2px #12183b;
} 



