/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (max-width:767px){
    .naviganionnn{
        display: none;
    }
    .burger{
        display: block;
    }
    .navbar-ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .naviganionnn.on{
        display: block;
    }
    .logo{
        margin: 0;
    }
}
@media screen and (max-width:1226px) {
    .container1, .container2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .one, .two, .three, .box1, .box2, .box3{
        margin: 0;
    }
    .textbox, .one, .two, .three, .box1, .box2{
        margin-bottom: 60px;
    }
    .textbox{
        max-width: 270px;
        width: 100%;
    }
    .maincontact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .connect{
        text-align: center;
        font-size: 30px;
    }
}
@media screen and (max-width:500px) {
    .d-block{
        height: 40vh;
    }
}
@media screen and (max-width:1200px){
    .h4text{
        text-align: center;
    }
}